*{
    padding: 0px;
    margin: 0px;
    box-sizing: border-box;
    color: white;
    
}
html{
    background-color: rgb(0, 12, 30);
   
}
body {
    background: linear-gradient(rgba(0, 12, 30, 0.7), rgba(0, 12, 30, 0)), url('weather.jpg');
   
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
    display: flex;
    justify-content: space-between;
    
}

.left{
    background-color: bisqu;
    height: 100vh;
    width: 750px;
}
.right {
    background: rgba(255, 255, 255,0); /* Red color with 50% transparency */
    height: 100vh;
    width: 400px;
    backdrop-filter: blur(10px);
    box-shadow: 0 0 2px rgba(0, 0, 0, 0.2);
    border-radius: 10px;
    margin-right: 30px;
    
}
.searchbar{
    margin: 2rem;
    display: flex;
    justify-content: center;
    
    
}


.searchbox{
    background: rgba( 255,255 , 255,0);
    border: none;
    width: 200px;
    border-bottom: 2px solid white;
    outline: none;
}




.weatherdetails li {
    height: 50px;
    
}
.lefttitle{
    display: flex;
    margin: 40px 50px 15px 50px;
    height: 50px;
    border-top: 1px solid white;
    align-items: center;
    padding-top: 20px;
}
ul{
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    
}
li{
    display: flex;
    list-style: none;
    justify-content: space-evenly;
    margin-left: 50px;
    margin-right: 50px;
    align-items: center;
    gap: 2px;
    
    
}

.maxval,.minval,.humidval, .cloudval, .windval{
    
    padding-left: 130px;
} 
.maindisplay{
   
    display: flex;
    position: relative;
    top: 300px;
    
    margin-left: 70px;
    margin-right: 240px;
    align-items: center;
    justify-content: space-evenly;
    
}
.maintemp{
    font-size: 100px;
}
.here{
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
}
.maindisplay .material-symbols-outlined{
    font-size: 60px;
}
.here .location{
    font-size: 40px;
}

@media screen and (max-width: 600px) {
        .left{
            width: 300px;

        }
        .right{
            width: 150px;
        }
  }
  





